@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --color1: #000;
    --clr-neon: #31B0D5;
    --clr-bg: #0C0F0A;
}

.signika,
label {
    font-family: 'Signika', sans-serif;
}

body {
    overflow-x: hidden;
    /* background-color: #888585; */
}

.letter-space1 {
    letter-spacing: 1.5px;
}

* {
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

.nav {
    /* background-color:aquamarine; */
    background-color: #fff;
}

.my-navbar {
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    z-index: 9;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    margin: 0;
}

.nav .top-nav {
    border-bottom: 1px solid var(--color1);
}

.nav .logo {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 75px;
}

.micon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    margin-right: 20px;
}

.nav-text1 {
    font-family: 'Signika', sans-serif;
    letter-spacing: 1px;
    color: #4f4d4db5;
}

.border-lr {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-left: 20px;
    padding-right: 20px;
}

.menu-item {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
}

.menu-item:hover {
    background-color: aliceblue;
    color: #000 !important;
    text-decoration: none;
}

.sticky {
    position: sticky !important;
    position: -webkit-sticky !important;
    top: 0 !important;
    /* required */
}


.home-section {
    height: 65vh;
    position: relative;
}

.content-section {
    height: 65vh;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    /* filter: blur(10px); */
    color: #fff;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
}

.carousel-item {
    height: 100% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.btn-minus,
.btn-plus {
    height: 20px;
    width: 20px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.neon-button {
    font-size: 2.2rem;
    color: var(--clr-neon);
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: var(--clr-neon) .125em solid;
    padding: .25em 1em;
    border-radius: 0.25em;
    text-shadow:
        0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em currentColor;
    box-shadow:
        inset 0 0 0.5em 0 var(--clr-neon),
        0 0 0.5em 0 var(--clr-neon);
    position: relative;
    /*   transition: background-color 100ms linear; */
}

.neon-button::before {
    pointer-events: none;
    content: '';
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
}

.neon-button:hover,
.neon-button:focus {
    /*   background: var(--clr-neon); */
    color: var(--clr-neon);
    text-shadow: none;
}

.neon-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    background-color: var(--clr-neon);
    z-index: -1;
    opacity: 0;
    transition: opacity 100ms linear;
}

.neon-button:hover::before,
.neon-button:focus::before {
    opacity: 1;
}

.neon-button:hover::after,
.neon-button:focus::after {
    opacity: 1;
}

datalist {
    background-color: #ccc !important;
}


.list-section {
    height: 30vh;
    position: relative;
}

.list-section .content-section {
    height: 30vh;
}

.my-input {
    padding-top: 24px !important;
    padding-bottom: 20px !important;
}

.inputWithIcon input {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    padding-left: 30px;
    box-sizing: border-box;
    transition: 0.3s;
}

.inputWithIcon input:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputWithIcon .inputWithIcon input {
    padding-left: 40px;
}

.inputWithIcon {
    position: relative;
}

.inputWithIcon i {
    position: absolute;
    left: 0;
    top: 10px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
}

.inputWithIcon .inputWithIcon input:focus+i {
    color: dodgerBlue;
}

.inputWithIcon.inputIconBg i {
    background-color: #aaa;
    color: #fff;
    padding: 9px 4px;
    border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg .inputWithIcon input:focus+i {
    color: #fff;
    background-color: dodgerBlue;
}

.search-section {
    position: absolute;
    top: 15vh;

}

.search-section .card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.list-container {
    min-height: 55.5vh;
    background-color: #fbfcf8;
}

.hr {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.hr1 {
    width: 100%;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 15px;
}

.listCard {
    transition: .5s;
}

.listCard:hover {
    box-shadow: rgba(49, 176, 231, 0.7) 0px 1px 2px 0px, rgba(49, 176, 231, 0.3) 0px 2px 6px 2px;
}

.filter-card {
    cursor: pointer;
}

.filter-card label {
    cursor: pointer;
}


/* ====Input==== */
input[type="text"] {
    width: 100%;
    padding: 15px 10px;
    border: none;
    border-bottom: 1px solid #645979;
    outline: none;
    border-radius: 5px 5px 0 0;
    background-color: #ffffff;
    font-size: 16px;
}

ul {
    list-style: none;
}

.list {
    width: 100%;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
}

.list-items {
    padding: 10px 5px;
}

.list-items:hover {
    background-color: #dddddd;
}

.card-header {
    background-color: #fff !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.search-input1 input,
.search-input1 select {
    padding: 0 10px 0 10px !important;
}

.footer {
    background-color: #151414;
    height: auto;
    border-top: 2px #5AC0DE solid;
}

.sub-footer {
    background-color: #202020;
    padding-top: 20px;
    padding-bottom: 20px;
}








/* Styles for the preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3199DA;
    /* Background color for the preloader */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Ensure the preloader is on top of other elements */
}

.loader {
    border: 4px solid #3498db;
    /* Customize the loader styles */
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.loading {
    font-family: 'Poppins',
        sans-serif;
    font-size: 3em;
    color: #fff;
    font-weight: 600;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
    text-align: center;
}


.loading .char {
    animation: jump 2.8s linear infinite;
    animation-delay: calc(1s + (var(--char-index) + 1) * .4s);
    animation-timing-function: ease-in-out;
    transform-origin: 50% 100%;
}

@keyframes jump {
    5% {
        transform: scale(1.2, 0.8);
    }

    12%,
    13% {
        transform: translateY(-1em) scale(1, 1.001);
    }

    17% {
        transform: translateY(0) scale(1, 0.999);
    }

    22% {
        transform: translateY(0) scale(1.2, 0.9);
    }

    23% {
        transform: translateY(-1px) scale(1.1, 1);
    }

    25% {
        transform: translateY(0) scale(1, 1);
    }
}

.airline-list {
    border-radius: 0px;
    border-top: 1px solid red;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

.airline-list .airline-logo {
    height: 100%;
    /* width: 100%; */
    position: relative;
    display: block;
}

.f-detail {
    border-right: 1px solid #ccc;
}

.padding-left {
    padding-left: 20px !important;
}

.img-fly {
    height: 45px !important;
    width: 45px !important;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 0.8px;
}

.btn-more {
    /* background-color: #31B0D5; */
    border: 1px solid #31B0D5;
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 5px;
    /* text-ali; */
    width: 150px;
    border-radius: 5px;
    transition: .5s;
}

.btn-more:hover {
    background-color: #31B0D5;
    color: #fff;
    box-shadow: 1px 1px 1px 0.5px;
}

.bg-white1 {
    background-color: #E1E1E1;
}

.border-right {
    border-right: 1.5px solid #888585;
}

.rightSide {
    transform: rotate(180deg);
}

.test {
    align-items: end !important;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


.wrapper .search-input {
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.search-input input,
.search-input select {
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px 0 60px;
    font-size: 18px;
}

.search-input.active input {
    border-radius: 5px 5px 0 0;
}

.search-input .autocom-box {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
    position: absolute;
    background-color: #fff;
    width: 100%;
    z-index: 9;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

.search-input.active .autocom-box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li {
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.search-input.active .autocom-box li {
    display: block;
}

.autocom-box li:hover {
    background: #efefef;
}

.search-input .icon {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #31B0D5;
    cursor: pointer;
}












.search-input .autocom-box1 {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
    position: absolute;
    background-color: #fff;
    width: 100%;
    z-index: 9;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

.search-input.active .autocom-box1 {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box1 li {
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.search-input.active .autocom-box1 li {
    display: block;
}

.autocom-box1 li:hover {
    background: #efefef;
}

.btn-select {
    background-color: #31B0D5;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: #fff;
    transition: .5s;
    border: 1px solid #ccc;
}

.btn-select:hover {
    background-color: #31B0D5;
    color: #fff;
}

.border-right {
    border-right: 1px solid #ccc;
}

.border-bottom {
    border-bottom: 1px solid #ccc;
}

.card1,
.card1 label {
    cursor: pointer;
}

.card1 {
    position: relative;
    display: flex;
}

.card1 input {
    z-index: 99;
    /* transform: scaleX(2); */
    /* height: 100px   ; */
    position: absolute;
}

.header-dr {
    background-color: #dddddd;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.left {
    transform: rotate(180deg);
}

.font-10 {
    font-size: 10px !important;
}

.font-11 {
    font-size: 11px !important;
}

.font-12 {
    font-size: 12px !important;
}

.font-13 {
    font-size: 13px !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-15 {
    font-size: 15px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-17 {
    font-size: 17px !important;
}

.font-18 {
    font-size: 18px !important;
}

.font-19 {
    font-size: 19px !important;
}

.font-20 {
    font-size: 20px !important;
}





.custom-radio input {
    display: none;
}

.radio-btn {
    margin: 10px;
    width: 380px;
    height: 70px;
    border: 3px solid transparent;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    box-shadow: 0 0 20px #c3c3c367;
    cursor: pointer;
}

.radio-btn>i {
    color: #ffffff;
    background-color: #FFDAE9;
    font-size: 20px;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%) scale(2);
    border-radius: 50px;
    padding: 3px;
    transition: 0.5s;
    pointer-events: none;
    opacity: 0;
}

.radio-btn .hobbies-icon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.radio-btn .hobbies-icon img {
    display: block;
    width: 60px;
    height: 50px;

}

.radio-btn .hobbies-icon i {
    color: #FFDAE9;
    line-height: 80px;
    font-size: 60px;
}

.radio-btn .hobbies-icon h3 {
    color: #555;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    top: 30%;
    right: 40px;
}

.custom-radio input:checked+.radio-btn {
    border: 2px solid #FFDAE9;
}

.custom-radio input:checked+.radio-btn>i {
    opacity: 1;
    transform: translateX(-50%) scale(1);
}

.policy-height {
    max-height: 300px;
    overflow-x: scroll;
    transition: .5s;
}

.nav-link.active {
    background-color: #31B0D5 !important;
    color: #fff !important;
}

.nav-link {
    color: #31B0D5 !important;
}

.user-profile-div {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: -70px;
}

.user-profile {
    height: 100%;
}

.disable {
    pointer-events: none;
}

.dropdown-menu {
    width: 400px !important;
}

.btn1 {
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
    background-color: #31B0D5;
    border: none;
    color: #fff;
}

.img-div {
    border: 1.9px solid #000;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.front-card1 label {
    width: 100%;
    font-size: 13px !important;
    letter-spacing: .7px;
    text-align: center;
    font-weight: normal !important;
}

.front-card1 {
    transition: 0.9s;
    position: relative;
    height: 100%;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: Arial, sans-serif;
    color: #333;
}

.front-card1:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.my-row {
    display: flex;
    /* Use Flexbox */
    flex-wrap: wrap;
    /* Allow the cards to wrap to the next row */
    justify-content: space-between;
    /* Distribute space between columns */
}

.my-col {
    flex: 1;
    /* Allow columns to grow equally within the row */
    max-width: calc(50% - 20px);
    /* Adjust the max-width as needed */
    margin: 10px;
    /* Add margin for spacing between columns */
}

.text-profile {
    background-color: #31B0D5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    color: #fff;
    font-weight: bold;
    border-radius: 50%;

}

.front-menu {
    padding-left: 10px;
    transition: .8s;
}

.front-menu.border {
    border-bottom: 1px solid #000;

}

.front-menu label {
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: .8s;
}

.front-menu i {
    transition: .8s;

}

.front-menu:hover {
    background-color: #31B0D5;
    color: #fff;
}

.carousel-inner .carousel-item,
.carousel {
    height: 65vh;
    overflow: hidden;
}














/* ============ */
.card-search {
    min-width: 495px !important;
}

.welcome-msg-pnl {
    padding-left: 200px !important;
}

.welcome-msg {
    width: 80%;
}

@media only screen and (max-width: 1595px) {
    .welcome-msg {
        width: 100%;
    }
}

@media only screen and (max-width:1457px) {
    .micon {
        display: none;
    }
}

@media only screen and (max-width: 1366px) {
    .welcome-msg-pnl {
        width: 100% !important;
        padding-left: 100px !important;
    }
}

@media only screen and (max-width: 1237px) {
    .welcome-msg-pnl {
        width: 100% !important;
        padding-left: 0px !important;
    }
}

@media only screen and (max-width: 1199px) {
    .micon {
        display: flex;
    }
}

@media only screen and (max-width: 1026px) {

    .card-search {
        min-width: 400px !important;
    }

}

@media only screen and (max-width: 991px) {

    .home-section,
    .content-section {
        height: 1100px;
    }

    .carousel-inner .carousel-item,
    .carousel {
        height: 1100px;
        overflow: hidden;
    }

    .carousel-item img {
        height: 1100px;
    }

    .content-section {
        padding-top: 5px;
    }

    .card-search {
        display: flex;
    }

    .welcome-msg-pnl {
        margin-top: 100px;
    }

    .btn-popular {
        justify-content: center;
    }

    .btn-login-container {
        display: none !important;
    }

    .btn-login-container1 {
        display: flex !important;
        margin-right: 20px;
    }

}

@media only screen and (max-width: 930px) {

    .micon {
        display: none;
    }

}

@media only screen and (max-width: 640px) {

    .contact-container {
        display: none !important;
    }

    .btn-login-container {
        display: flex !important;
    }

    .btn-login-container1 {
        display: none !important;
        margin-right: 20px;
    }

}

@media only screen and (max-width: 550px) {

    .content-section div {
        margin: 0;
        padding: 0;
    }
    .card-search .card .card-body .col-6{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

@media only screen and (max-width: 555px) {

    .card-search{
        display: none !important;
    }
    .home-section,
    .content-section {
        height: 600px;
    }

    .carousel-inner .carousel-item,
    .carousel {
        height: 600px;
        overflow: hidden;
    }

    .carousel-item img {
        height: 600px;
    }

    .content-section {
        padding-top: 5px;
    }
    .popular-btn{
        display: none;
    }
    .book-now-btn{
        display: block !important;
    }

}

@media only screen and (max-width: 455px) {

    .card-search{
        display: none !important;
    }
    .neon-button {
        font-size: 20px;
    }

}
